<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .container {
            margin-top: 5%;
            background-color: whitesmoke;
            padding: 20px;

        }

        .box {
            padding: 10px;
            background-color: white;
            vertical-align: top;

        }
    </style>

    <title>New Job</title>
</head>

<body>
    <h1>Hello {{user.first_name}}! Create a job!</h1>


    <div class="container">

        <form action="/create" method="POST">
            {% csrf_token %}
            <div class="box">
                    {% if messages %}
                    <div class="text-danger">
                        <div class="card-body">
                            {% for message in messages %}
                            {% if message.tags %}
                            <p class="card-text">{{ message }}</p>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" class="form-control" name="title">

                </div>

                <div class="form-group">
                    <label for="desc">Description:</label>
                    <input type="text" class="form-control" name="desc">

                </div>

                <div class="form-group">
                    <label for="location">Location:</label>
                    <input type="text" class="form-control" name="location">
                </div>

                
                <button type="submit" class="btn btn-info">Submit</button>
                <a href="/dashboard" class="btn btn-primary btn-sml active" role="button" aria-pressed="true">Cancel</a>
            </div>
        </form>