<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>View Job</title>

    <style>
        .container {
            width: 50%;
            margin-top: 5%;
            background-color: whitesmoke;
        }
    </style>
</head>

<body>
    <h1>Hello {{user.first_name}}! These are the job details!</h1>
    <a href="/dashboard" class="link">Dashboard</a> | <a href="/logout" class="link">Logout</a>
    <br>

    <div class="container">
        <h1 class="font-weight-normal">{{job.title}}</h1>

        <br>
        <h5 class="font-weight-normal"> {{job.desc}}</h5>
        <br>
        <h4 class="font-weight-normal">Location: {{job.location}}</h4>
        <br>
        <h4 class="font-weight-normal">Posted by:</h4>{{user.worker}}
        <br>
        <h4 class="font-weight-normal">Posted on:</h4>{{user.created_at}}
        <br>
        <br>
        <br>
        <br>
        <br>
        <a href="/dashboard" class="btn btn-primary">Done</a>


    </div>

</body>

</html>